[submodule ".shell/powerline"]
  path = .shell/powerline
  url = https://github.com/milkbikis/powerline-shell.git
[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = https://github.com/wincent/command-t.git
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule ".vim/bundle/csapprox"]
	path = .vim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule ".vim/bundle/mw-utils"]
	path = .vim/bundle/mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/tlib"]
  path = .vim/bundle/tlib
  url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/CamelCaseMotion"]
	path = .vim/bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/webapi"]
	path = .vim/bundle/webapi
	url = https://github.com/mattn/webapi-vim.git
[submodule ".vim/bundle/libclang"]
	path = .vim/bundle/libclang
	url = https://github.com/rhysd/libclang-vim.git
[submodule ".vim/bundle/promptline"]
	path = .vim/bundle/promptline
	url = https://github.com/edkolev/promptline.vim.git
