code/
download/

.dmrc
.xscreensaver
.xsession-errors
.ICEauthority
.Xauthority

.config/Thunar/
.config/autostart/
.config/chromium/
.config/dconf/
.config/gtk-2.0/
.config/pulse/
.config/software-center/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xfce4/
.dbus/
.gconf/
.local/
.macromedia/
.pki/
.thumbnails/

# Sensitive
.ssh/

# Purely temporary
.backup/
.cache/
.swap/
.viminfo
.lesshst
.bash_history
.config/ranger/bookmarks

.vim/.undo/
.vimtags
.tags/
.config/ranger/history
.gem/
