[user]
	email = matt@osbolab.com
	name = Matthew Barnard
[code]
	editor = vim
[core]
	editor = vim
	excludesfile = ~/.gitignore.global
	autocrlf = false
	eol = lf
[github]
	user = Osbolab
	email = matt@osbolab.com
[push]
	default = simple
