[user]
	email = matt@osbolab.com
	name = Matt Barnard
[core]
	editor = vim
	excludesfile = ~/.gitignore.global
	autocrlf = false
	eol = lf
[github]
	user = osbolab
	email = matt@osbolab.com
[push]
	default = simple
